body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #684894;
}
.quem-somos {
    background-color: #445D71;
    color: white;
    
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros {
    background-color: #BFACD9;
    color: white;
    
}
.bg-footer {
    background-color: #402E56;
}
.servicos {
    background-color: #D098DF;
}